---
http_interactions:
- request:
    method: post
    uri: https://api.agsquared.com/v1/business_unit/11512/harvest_orders
    body:
      encoding: UTF-8
      string: '{"amount":1.0,"harvest_notes":"Grains - 2-Row Barley - Rasmusson -
        1.0 bag of 5  pounds","ref_num":44070,"date":"Mon, 28 Jan 2019 05:00:00 UTC
        +00:00","product_id":157704,"subscription_id":11512}'
    headers:
      Authorization:
      - Bearer d6c01c7ae2defa8a8c9197efeec3ccbcd84fcf98
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"harvest_orders":{"id":"256","mobile_id":"","amount":1,"ref_num":44070,"product_id":"157704","subscription_id":"11512","sales_notes":null,"harvest_notes":"Grains
        - 2-Row Barley - Rasmusson - 1.0 bag of 5  pounds","date":"2019-01-28","deleted_at":null}}'
  recorded_at: Wed, 27 Feb 2019 19:32:55 GMT
- request:
    method: put
    uri: https://api.agsquared.com/v1/business_unit/11512/harvest_orders/253
    body:
      encoding: UTF-8
      string: '{"amount":5.0,"harvest_notes":"Grains - 2-Row Barley - Rasmusson -
        1.0 bag of 5  pounds","ref_num":44070,"date":"Mon, 28 Jan 2019 05:00:00 UTC
        +00:00","product_id":157704,"subscription_id":11512}'
    headers:
      Authorization:
      - Bearer d6c01c7ae2defa8a8c9197efeec3ccbcd84fcf98
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"harvest_orders":{"id":"253","mobile_id":"","amount":5,"ref_num":44070,"product_id":"157704","subscription_id":"11512","sales_notes":null,"harvest_notes":"Grains
        - 2-Row Barley - Rasmusson - 1.0 bag of 5  pounds","date":"2019-01-28","deleted_at":null}}'
  recorded_at: Wed, 27 Feb 2019 19:32:55 GMT
[...]
- request:
    method: delete
    uri: https://api.agsquared.com/v1/business_unit/11512/harvest_orders/256
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d6c01c7ae2defa8a8c9197efeec3ccbcd84fcf98
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"harvest_orders":[{"id":"256","deleted_at":{"date":"2019-02-27 14:38:12","timezone_type":3,"timezone":"America\/New_York"}}]}'
  recorded_at: Wed, 27 Feb 2019 19:38:12 GMT
- request:
    method: get
    uri: https://api.agsquared.com/v1/business_unit/11512/harvest_orders/253
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d6c01c7ae2defa8a8c9197efeec3ccbcd84fcf98
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"harvest_orders":{"id":"253","mobile_id":"","amount":"5.00","ref_num":"44070","product_id":"157704","subscription_id":"11512","sales_notes":null,"harvest_notes":"Grains
        - 2-Row Barley - Rasmusson - 1.0 bag of 5  pounds","date":"2019-01-28","deleted_at":null}}'
  recorded_at: Wed, 27 Feb 2019 19:39:11 GMT
recorded_with: VCR 4.0.0
