---
http_interactions:
- request:
    method: post
    uri: https://api.agsquared.com/v1/business_unit/11512/harvest_orders
    body:
      encoding: UTF-8
      string: '{"amount":1.0,"harvest_notes":"Grains - 2-Row Barley - Rasmusson -
        1.0 bag of 5  pounds","ref_num":44070,"date":"Mon, 28 Jan 2019 05:00:00 UTC
        +00:00","product_id":157704,"subscription_id":11512}'
    headers:
      Authorization:
      - Bearer 247dc6a317d9841943ba3fb0aaba80cea23beaae
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 26 Feb 2019 21:29:03 GMT
recorded_with: VCR 4.0.0
