---
http_interactions:
- request:
    method: get
    uri: https://api.agsquared.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 406ccd07b41cba477a15d3ced539248c9c993fe6
  response:
    status:
      code: 200
      message: OK
    headers:
      X-From:
      - IngewikkeldBundle
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"farms":[{"type":"Farm","data_version":8,"id":"9474","name":"Minnewaska
        Farm","deleted_at":null,"tags":[],"address1":"900 Albany Post Road","address2":"","city":"New
        Paltz","state":"New York","zipcode":"12561","links":{},"user_name":"John Barton","permissions":[],"preferences":{"allow_real_time_sync":false,"extra_languages":"","force_gps":false,"use_multi_planting_harvest":false,"use_mmphha":false,"use_target_harvest":false,"ignore_rei_phi":false,"use_planting_module":false,"use_cleaning":false,"simplified_harvest":false,"custom_cleaning_temlate":null,"work_orders":false,"edit_transplant_date":true,"create_transplant_from_mobile":false,"hide_properties":false,"show_mobile_map":false,"add_plantings_this_property":false},"crop_count":-9,"planting_count":-9,"location_count":-7}]}'
  recorded_at: Thu, 24 May 2018 14:44:08 GMT
recorded_with: VCR 4.0.0
