---
http_interactions:
- request:
    method: get
    uri: https://api.agsquared.com/v1/farm/9474/farmersWeb/plantings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 247dc6a317d9841943ba3fb0aaba80cea23beaae
  response:
    status:
      code: 200
      message: OK
    headers:
      X-From:
      - IngewikkeldBundle
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"plantings":[{"id":"377847","variety":"Pinnacle","crop":"6-Row Barley","total_area":null,"total_area_unit":"Square
        feet","last_location":null,"sowing_date":"2019-05-21","expected_harvested":"90.000000","expected_harvested_unit":"bushels","begin_harvest":"2019-07-05","end_harvest":"2019-07-07"},{"id":"377889","variety":"Rasmusson","crop":"2-Row
        Barley","total_area":null,"total_area_unit":"Square feet","last_location":null,"sowing_date":"2019-05-28","expected_harvested":"1000.000000","expected_harvested_unit":"bushels","begin_harvest":"2019-07-26","end_harvest":"2019-08-02"},{"id":"378095","variety":"Rasmusson","crop":"2-Row
        Barley","total_area":null,"total_area_unit":null,"last_location":null,"sowing_date":"2019-06-01","expected_harvested":null,"expected_harvested_unit":null,"begin_harvest":"2019-07-16","end_harvest":"2019-07-21"},{"id":"378243","variety":"Saaz","crop":"Saaz
        Hops","total_area":null,"total_area_unit":"Square feet","last_location":null,"sowing_date":"2019-05-15","expected_harvested":"90.000000","expected_harvested_unit":"pounds","begin_harvest":"2019-07-04","end_harvest":"2019-07-07"}]}'
  recorded_at: Tue, 26 Feb 2019 21:29:02 GMT
recorded_with: VCR 4.0.0
