---
http_interactions:
- request:
    method: get
    uri: https://api.agsquared.com/v1/farm/9474/farmersWeb/plantings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 406ccd07b41cba477a15d3ced539248c9c993fe6
  response:
    status:
      code: 200
      message: OK
    headers:
      X-From:
      - IngewikkeldBundle
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"plantings":[{"id":"377847","variety":"Pinnacle","crop":"6-Row Barley","total_area":null,"total_area_unit":null,"last_location":null,"sowing_date":"2018-05-21","expected_harvested":null,"expected_harvested_unit":null,"begin_harvest":"2018-07-05","end_harvest":"2018-07-07"}]}'
  recorded_at: Thu, 24 May 2018 15:23:39 GMT
recorded_with: VCR 4.0.0
