---
http_interactions:
- request:
    method: get
    uri: https://api.agsquared.com/v1/farm/9474/farmersWeb/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 406ccd07b41cba477a15d3ced539248c9c993fe6
  response:
    status:
      code: 200
      message: OK
    headers:
      X-From:
      - IngewikkeldBundle
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"products":[{"id":"150627","product":"Bulk","category":"6-Row Barley","crop_name":"6-Row
        Barley"}]}'
  recorded_at: Thu, 24 May 2018 15:23:39 GMT
recorded_with: VCR 4.0.0
