---
http_interactions:
- request:
    method: get
    uri: https://api.agsquared.com/v1/farm/9474/farmersWeb/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 02eb2daf3e93add313b2892b37df7e40712f336d
  response:
    status:
      code: 200
      message: OK
    headers:
      X-From:
      - IngewikkeldBundle
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"products":[{"id":"152438","product":"Bushels","category":"6-Row Barley","crop_name":"6-Row
        Barley"},{"id":"157704","product":"Bushels","category":"2-Row Barley","crop_name":"2-Row
        Barley"},{"id":"157705","product":"Pounds","category":"Saaz Hops","crop_name":"Saaz
        Hops"},{"id":"295690","product":"Ounces","category":"AK-47","crop_name":"AK-47"}]}'
  recorded_at: Tue, 26 Feb 2019 17:33:25 GMT
recorded_with: VCR 4.0.0
