---
http_interactions:
- request:
    method: post
    uri: https://api.agsquared.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"refresh_token","client_id":"farmersweb","client_secret":"jyk0seaacpwwog4cgs0s0gw00k8wcg8","refresh_token":"bf1ed9b489f011cf1a34c1c9786b86451e6e8559","scope":"farmersWeb"}'
    headers:
      Authorization:
      - Bearer 02eb2daf3e93add313b2892b37df7e40712f336d
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-From:
      - IngewikkeldBundle
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"41fe7142fbc051119f5d84ccb8170c998b2a9b99","expires_in":3600,"token_type":"Bearer","scope":"farmersWeb"}'
  recorded_at: Tue, 26 Feb 2019 17:33:26 GMT
recorded_with: VCR 4.0.0
