---
http_interactions:
- request:
    method: post
    uri: https://api.agsquared.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"refresh_token","client_id":"farmersweb","client_secret":"jyk0seaacpwwog4cgs0s0gw00k8wcg8","refresh_token":"1a159f46169c560a0e4f7cbc9972df6aad5afec8","scope":"farmersWeb"}'
    headers:
      Authorization:
      - Bearer 134fef9bfa4633472bd334758fdfd263d934b6aa
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-From:
      - IngewikkeldBundle
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"3d84c5e681c4a01a55746c3561202c1d9e3472f0","expires_in":3600,"token_type":"Bearer","scope":"farmersWeb"}'
  recorded_at: Wed, 27 Feb 2019 16:28:40 GMT
recorded_with: VCR 4.0.0
